.container {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 9rem;
}
.container h2 {
  text-align: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem auto;
}

.cta {
  text-align: center;
  line-height: 2rem;
  margin-top: 2rem;
}
.cta span {
  color: #d44b4b;
}