.container {
  position: relative;
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
}

.border {
  position: absolute;
  left: -0.25rem;
  top: 10%;
  width: 100%;
  height: 80%;
  box-sizing: content-box;
  border-radius: 1rem;
  translate: 0.25rem 0;
}

.borderPrimary {
  border: 1px solid #d44b4b;
}

.borderWhite {
  border: 1px solid #f7f7f7;
}