.interactible:hover {
  cursor: pointer;
}
.interactible:hover .borderPrimary {
  color: #f2f9f8;
}
.interactible:hover .borderWhite {
  color: #f46767;
}
.interactible:hover .borderPrimary::before {
  background-color: #f46767;
  border-color: #f46767;
}
.interactible:hover .borderWhite::before {
  background-color: #ffffff;
}

.border {
  position: relative;
  z-index: 1;
  margin: 0 0.5em;
  padding: min(0.4em, 1%);
}

.border::before {
  position: absolute;
  content: "";
  left: -1%;
  top: 0.25em;
  width: 100%;
  height: 80%;
  border-radius: 0.5em;
  translate: 1% 0;
  z-index: -1;
}

.borderPrimary {
  transition: all 0.3s ease;
}

.borderWhite {
  transition: all 0.3s ease;
}

.borderPrimary::before {
  border: 1px solid #d44b4b;
  transition: all 0.3s ease;
}

.borderWhite::before {
  border: 1px solid #ffffff;
  transition: all 0.3s ease;
}