.container {
  position: relative;
  margin: 0 0.5em;
  padding: min(0.4em, 1%);
}

.border {
  position: absolute;
  left: -1%;
  top: 0.25em;
  width: 100%;
  height: 80%;
  box-sizing: content-box;
  border-radius: 0.5em;
  translate: 1% 0;
}

.borderPrimary {
  border: 1px solid #d44b4b;
}

.borderWhite {
  border: 1px solid #ffffff;
}