.hero {
  background-color: #d44b4b;
  color: #f7f7f7;
  width: 100%;
}
.hero h1 {
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 95px;
  padding-bottom: 95px;
  display: flex;
  position: relative;
}

.content {
  width: 50%;
}

.image {
  width: 70%;
  height: 90%;
  right: 0;
  top: 10%;
  position: absolute;
  background-image: url("../../img/city.png");
  background-repeat: no-repeat;
  background-size: contain;
}