@import '../../variables.scss';
@import '../../util.scss';

.hero {
  background-color: $primary;
  width: 100%;
  h1 {
    color: $background;
    margin: 0;
  }
  p {
    color: $background;
  }
}

.container {
  @include container;
  padding-top: 95px;
  padding-bottom: 95px;
  display: flex;
  position: relative;
}

.content {
  width: 50%;
}

.image {
  width: 70%;
  height: 90%;
  right: 0;
  top: 10%;
  position: absolute;
  background-image: url('/img/city.png');
  background-repeat: no-repeat;
  background-size: contain;
}
