.login {
  text-decoration: none;
  color: #121761;
  border: 1px solid #121761;
  border-radius: 0.5rem;
  padding: 12px 55px 15px 55px;
  transition: all 0.3s ease;
}

.login:hover {
  color: #f2f9f8;
  background-color: #121761;
  border: 1px solid rgba(35, 150, 133, 0.3);
  box-shadow: inset rgba(35, 150, 133, 0.3) 0 0 1rem;
}

.login:active {
  color: #f2f9f8;
  background-color: #03073c;
}