@import '../../variables.scss';

.button {
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  width: 400px;
}

.buttonPrimary {
  background-color: $primary;
  color: $background;
  transition: all 0.3s ease;
}

.buttonPrimary:hover {
  background-color: $primary-hover;
  box-shadow: inset $primary-active 0 0 1rem;
}

.buttonPrimary:active {
  background-color: $primary-active;
  transition: all 0.1s ease;
}

.buttonWhite {
  background-color: $background;
  color: $secondary;
  box-shadow: 0 0 1rem #a1303c;
  transition: all 0.3s ease;
}

.buttonWhite:hover {
  color: $dark;
  background-color: $background;
  box-shadow:
    2px 2px 8px #a1303c,
    inset $background-accent 0 0 1rem;
}

.buttonWhite:active {
  color: $secondary;
  background-color: $background-accent;
  transition: all 0.1s ease;
}
