@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import './variables.scss';

html {
  font-size: 20px;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  background-color: $background;
  margin: 0;
}

main {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
}
