@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
html {
  font-size: 20px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  margin: 0;
}

main {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  line-height: 1.3rem;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
  font-size: 2.15rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

p {
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #74768c;
}

h1 {
  font-size: 2.25rem;
  line-height: 2.7rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 500;
}