@import '../variables.scss';
@import '../util.scss';

.container {
  @include container;
  h2 {
    text-align: left;
    width: 100%;
    font-size: 5rem;
    line-height: 6rem;
    span {
      color: $primary;
      white-space: nowrap;
      margin-left: 0;
    }
  }
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
